@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import 'vars.css';
	.container {
		max-width: 500px;
		margin: 0 auto;
	}
	*:focus {
		outline: none;
	}

	body {
		background-color: var(--background);
	}
	ul {
		padding: 20px;
		margin-left: 10%;
		margin-right: 10%;
	}
	* {
		font-size: calc(var(--font-size)*2.4);
		padding: 20px;
		font-family: 'Quicksand';
		font-weight: 200;
		color: var(--color);
	}

	a {
		border-bottom: 1px solid var(--color);
		padding: 2px;
		line-height: 1em;
		text-decoration: none;
		background-size: 200% auto;
		background-position: -0% 0;
		background-image: linear-gradient(to right, transparent 50%, var(--color-transparent) 50%);
		transition: all 0.3s ease-out;
	}

	a:hover {
		border-bottom: 1px solid transparent;
		color: var(--background);
		background-position: -100% 0;
	}

	.button,
	[class*="button-"] {
		margin: 0 auto;
		border: 1px dashed var(--color);
		position: relative;
		display: block;
		overflow: hidden;
		padding: 0 1em;
		height: 3.5em;
		font: 300 1em/3.5em 'Anonymous Pro', sans-serif;
		text-decoration: none;
		text-shadow: 0 1px 3px var(--shadow);
		letter-spacing: .08em;
		color: var(--color);
		background: var(--background);
		border-radius: 5px;
		-moz-transition: ease 0.35s all;
		-o-transition: ease 0.35s all;
		-webkit-transition: ease 0.35s all;
		transition: ease 0.35s all;
	}

	.button:hover,
	[class*="button-"]:hover {
		background: var(--background);
		box-shadow: 0 0 3px var(--shadow) inset;
	}

	.button-hover:hover {
		line-height: 9em;
	}

	.button-hover:before {
		text-align: center;
		content: attr(data-text);
		color: var(--color);
		position: absolute;
		top: -2.75em;
	}

	h1 {
		font-family: 'Quicksand';
		font-weight: 200;
		color: var(--color);
		font-size: calc(var(--font-size)*6);
		text-align: center;
		text-decoration: underline;
		text-transform: capitalize;
	}

	#clock {
		font-family: 'Anonymous Pro';
		color: var(--color);
		font-size: calc(var(--font-size)*8);
		text-align: center;
		margin: 0 auto;
	}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	margin: 0 auto;
	display: block;
	background: var(--background) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	box-shadow: 0 0 0 2px var(--color-transparent);
	border: none;
	padding: 9px 10px 9px 32px;
	width: 150px;
	border-radius: 10px;
	transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
input[type=search]:focus {
	box-shadow: 0 0 0 2px var(--color-transparent), 0 0 0 5px var(--color-transparent);
	width: 400px;
	background-color: var(--background);
	border-color: var(--color);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
