* {
		--color: #66ff99;
		--color-transparent: rgba(102, 255, 153, 0.61);
		--font-size: 45%;
		--background: black;
		--secondary-color: #38f8b8;
		--text: white;
		--background: #101010;
		--shadow: rgba(0,0,0,.35);
		--input-height: 50px;
		--input-border-radius: 5px;
	}