* {
		--color: #66ffff;
		--color-transparent: rgba(102, 255, 255, 0.479);
		--font-size: 45%;
		--secondary-color: #38bbf8;
		--text: white;
		--background: #101010;
		--shadow: rgba(0,0,0,.35);
		--input-height: 50px;
		--input-border-radius: 5px;
		--input-width: 200px;
	}

/* I'm just putting this here so that pages like find_and_replace.html also get this styling, as they don't use main.css */
#back {
 position: absolute; 
 text-decoration: none; 
 top: 2px;
 left: 10px;
 color: var(--color);
 border-radius: 2px;
 opacity: .8;
 border-bottom: none;
}
#back:hover {
 color: var(--secondary-color);
 opacity: 1;
 background: none;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #101010;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--color), var(--secondary-color));
	border-radius: 5000px;
	box-shadow: 0 0 5px 5px var(--color);
}
::-webkit-scrollbar-thumb:hover {
	background: linear-gradient(var(--secondary-color), var(--color));
}